*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Source Serif Pro', serif;
}

#grid {
  width:100%;
  height:100%;
  display:table;
}

#grid .row {
  display:table-row;
}

#grid .cell {
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 1000%;
  color: white;
}

#grid .cell.playing {
  box-shadow: inset 0 0 10000px 10000px rgba(0,0,0,0.25);
  color: rgba(255, 255, 255, 0.5);
}

